h1 {
  color: 41FF1B
}

h2 {
  color: 000000
}

body {
  background-color: 33D4FF;
  text-align: center;
}

#profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.container {
  background-color: 3B59FF;
  padding: 20px;
  width: 400px;
  margin: 0 auto;

}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
